.navbar{
    /* White tint with 0.5 opacity. */
    background-color: rgba(233, 24, 24, 0.5);
    /* Notice how RGB of 255,255,255 is white. */
    
}

.hero-image {
    background-image: url("../images/background1.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
  }

.hero-title {
    padding-top: 100px;
    font-weight: 300;
    color: #ffffff;
}

.hero-subtitle {
    color: #ffffff;
}

.schedule {
    margin: 10px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.schedule-header{
    background-color: #007bff;
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;
}
