.navbar{
    /* White tint with 0.5 opacity. */
    background-color: rgba(233, 24, 24, 0.5);
    /* Notice how RGB of 255,255,255 is white. */
    
}

.hero-image {
    background-image: url("../images/__WTM logo_horiz_rgb.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
  }

.hero-title {
    padding-top: 100px;
    font-weight: 300;
    color: #ffffff;
}

.hero-subtitle {
    color: #ffffff;
}

.schedule {
    margin: 10px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.schedule-header{
    background-color: #007bff;
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;
}

.speakers-header {
    background-color: #fd7e14;
    margin-bottom: 50px;
    margin-top: 200px;
    text-align: center;
}

.col-hour{
    width: 100px
}

.room-one{
    background-color: #87c02d;
}

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .rounded-img {
    border-radius: 50%;
    width:200px;
    height:200px;
    align-self: center;
    text-align: center;
  }
  
